
$font-stack: Arial, sans-serif;
$font-size: 16px;
/* Make the font size bigger on mobile, because readability is a concern otherwise. */
$font-size-mobile: 18px;
$width-mobile: 1024px;

body {
    font-family: $font-stack;
    font-size: $font-size;
    width: 75%;
    /* auto should apply to left and right margin, centering the body. */
    margin: 10px auto;
}

/**
* Font sizing.  "em" means it relates to the font-size of the parent element.
* So whatever is set for the body element should propagate down, so long as
* we use relative sizes.
*/
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}


nav ul {

    list-style: none;
    padding: 10px;
    background: #111;

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    li {
        display: inline;
        &:hover {
            background-color: #888888;
        }

        margin: 10px;
        padding: 10px;

    }

}

/* A little padding in our lists. */
li {
    padding-bottom: .5em;
}

.peco-status-recent-line {
    font-size: 1em;
}

footer {
  padding: 2px 2px;
  font-size: .7em;
  text-align: center;
}

/* Utility classes. */
.hidden {
    opacity: 0;
    visibility: hidden;
}

.display-none {
    display: none;
}

.visible {
    visibility: visible;
}

.error {
    color: red;
    margin: 1em 1em 1em 1em;
}

/* Settings for each row, which contains a label and a value. */ 
.peco-row {
    display: inline-block;
    /* Border for debugging. 
    border: 1px solid black;
    */
    background-color: #eeeeee;
    padding: 10px;
    margin-bottom: 10px; 
}

.peco-row-green {
    background-color: #ccffcc;
}

.peco-row-yellow {
    background-color: #ffffcc;
}

.peco-row-red {
    background-color: #ffcccc;
}

/* Alerts */
.alert {
    background-color: #ffaaaa;
    /* Border for debugging. 
    border: 1px solid black;
    */
    border-radius: 5px; 
    padding: 20px;
}

/* Mobile. */
@media (max-width: $width-mobile) {

    body {
        /* Adjust font sizes for smaller screens */
        font-size: $font-size-mobile;
        /* Narrow the width to prevent horizintal scrolling, which is 
            more common by accident on mobile. */
        width: 90%;
    }

    nav ul {
    }

    /* Alerts */
    .alert {
    }

    .peco-row {
        width: calc(100% - 20px);
        float: left;
    }

    /* Settings for double-wide rows, mainly for the date. */
    .peco-row-2x-wide {
        width: calc(100% - 20px);
    }

    #peco-status-recent-graph-container {
        position: relative;
        /* No margin here, as "auto" causes the graph to go past the status bars above, and looks weird. */
        width: calc(100% - 20px);
    }

}


/* Regular screen. */
@media (min-width: $width-mobile) {

    /* Alerts */
    .alert {
    }

    /* Distribute our items evenly with space inbetween. */
    .peco-rows {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
    }

    .peco-row {
        width: calc(50% - 30px);
    }

    /* Settings for double-wide rows, mainly for the date. */
    .peco-row-2x-wide {
        width: calc(100% - 20px);
    }

    #peco-status-recent-graph-container {
        position: relative;
        margin: 10px auto;
        width: 100%;
    }

}

.peco-label {
    font-size: 1.5em;
}

.peco-value {
    font-size: 2em;
    margin-top: .25em;
}

.peco-value-datetime-time, 
    .peco-value-datetime-date {
    font-size: 1.5em;
    margin-top: .25em;
}

.bottom-padding {
    height: 50px;
}

