

/* Mobile. */
@media (max-width: $width-mobile) {

    body {
        /* Adjust font sizes for smaller screens */
        font-size: $font-size-mobile;
        /* Narrow the width to prevent horizintal scrolling, which is 
            more common by accident on mobile. */
        width: 90%;
    }

    nav ul {
    }

    /* Alerts */
    .alert {
    }

    /* Default width of an element. */
    .peco-row {
        width: calc(100% - 20px);
        float: left;
    }

    /* Settings for double-wide elements, mainly for the date. */
    .peco-row-2x-wide {
        width: calc(100% - 20px);
    }

    /* Elements that are a third of the screen wide. */
    .peco-row-one-third-wide {
        width: calc(100% - 20px);
    }

    #peco-status-recent-graph-container {
        position: relative;
        /* No margin here, as "auto" causes the graph to go past the status bars above, and looks weird. */
        width: calc(100% - 20px);
    }

}


