<!-- 
PECO Status
-->

<div id="peco-status-wrapper">

<div id="peco-status-loading">Loading current status data...</div>
<div id="peco-status-error" class="hidden error display-none">Error fetching current status.</div>

<div id="peco-status" class="hidden">

<div class="peco-row">
<div id="peco-total-customers" class="peco-label" >Total Customers:</div>
<div id="peco-total-customers-value" class="peco-value" ></div>
</div>

<div class="peco-row">
<div id="peco-outages" class="peco-label">Customer Outages:</div>
<div id="peco-outages-value" class="peco-value" ></div>
</div>

<div class="peco-row">
<div id="peco-total-outages" class="peco-label">Total Outages: </div>
<div id="peco-total-outages-value" class="peco-value" ></div>
</div>

<div class="peco-row">
<div id="peco-customers-online" class="peco-label">Percent Customers Online: </div>
<div id="peco-customers-online-value" class="peco-value" ></div>
</div>

<div class="peco-row">
<div id="peco-time" class="peco-label">Time:</div>
<div id="peco-time-value" class="peco-value" ></div>
</div>

</div>
</div> <!-- /wrapper -->

